SampleRest/Schemas/Schema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:tibex="http://www.tibco.com/bpel/2007/extensions" xmlns:tns="http://www.example.com/namespaces/tns/1475176594345" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.example.com/namespaces/tns/1475176594345">
  <xsd:element name="Element">
    <xsd:complexType>
      <xsd:sequence>
                <xsd:element minOccurs="0" name="User" type="xsd:string"/>
                <xsd:element minOccurs="0" name="Region" type="xsd:string"/>
            </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
